project/Com2Sense/results_log/com2sense/roberta_large/bs_16/ep_1_stp_101_acc_50.3906_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_16/ep_15_stp_1.5k_acc_50.6510_roberta_large.pth
