project/Com2Sense/results_log/com2sense/roberta_large/bs_16/ep_1_stp_101_acc_50.3906_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_16/ep_15_stp_1.5k_acc_50.6510_roberta_large.pth
project/Com2Sense/model_weights/unifiedqa_3b_trained_on_official_train.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_1_stp_51_acc_51.0417_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_10_stp_501_acc_51.9531_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_13_stp_651_acc_52.0833_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_20_stp_1.0k_acc_54.0365_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_21_stp_1.1k_acc_54.5573_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_22_stp_1.1k_acc_56.3802_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_25_stp_1.3k_acc_57.1615_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_27_stp_1.4k_acc_57.4219_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_28_stp_1.4k_acc_59.5052_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_32_stp_1.6k_acc_61.0677_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_53_stp_2.7k_acc_61.5885_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_55_stp_2.8k_acc_61.7188_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_56_stp_2.8k_acc_61.8490_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_69_stp_3.5k_acc_62.1094_roberta_large.pth
project/Com2Sense/results_log/com2sense/roberta_large/bs_32/ep_74_stp_3.7k_acc_62.3698_roberta_large.pth
